<div class="container">
  <div class="row">
    <div class="info-blurb">
      <h3>{{ pageTitle }}</h3>
      <p>
        With 80% of the population having quirks, U.A. High School is an academy where students can learn
        and train to become the next generation of heros that will use their quirks for the greater good.
        U.A. is the #1 top ranked high school for heroics and is considered to be the top Hero Academy in Japan.
        At U.A. High School, students will learn to be well rounded and capable heros that will be qualified to
        use the powers in public spaces to defend the public from villans and various dangers.
      </p>
      <p>
        U.A. has exceptional security measures to ensure that it's students are safe from unwelcome visitors and villians.
        U.A. is also equipped with several facilities that will aid in developing each student's individual and unique quirk.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="info-blurb">
      <h3>Meet All Might</h3>
      <p>
        By attending U.A. High School, you may have the chance to meet or even have a class with the No. 1 Hero, All Might
        himself.
      </p>
      <div style="align:center;margin:auto;width: 50%">
        <img src="assets/images/allmight.jpg">
      </div>
      <p>
        All Might is the barer of the title of the world's <strong>Symbol of Peace</strong>. He has earned
        this title through his strength in deterring crime. His very presence in society discourages villians.
        All Might teaches Foundational Hero Studies at U.A. High School.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="info-blurb">
      <h3>Meet Our Students</h3>
      <p>
        Meet Izuku. He is a student who attend U.A. High School in Class A. He was thought by many to be born quirkless.
        However, he drew the attention of the school when he displayed incredible strength by annihalating a training
        bot at the entrance exam for U.A. High School; saving fellow student Uraraka in the process. He displays a true
        heart of a hero.

        Follow him as he begins his journey through U.A. High School to become a professional hero like his idol, All Might.
      </p>
      <div style="align:center;margin:auto;width: 75%">
        <img src="assets/images/Deku.png">
      </div>
    </div>
  </div>
</div>
<app-show></app-show>
