<div class="videobox">
  <iframe id="video" style="width:100%; height:500px" src="https://www.youtube.com/embed/wIb3nnOeves" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <hr>
<div>
<a class="btn btn-lg btn-info" style="text-align: center; display: block" href="http://www.crunchyroll.com/my-hero-academia"><h1>Watch Now</h1></a>
<!-- Auto play when user scrolls over the video -->
<!-- <script type="text/javascript">
  getElementById("video").on('scroll', function() {
    if($(this).scrollTop()>=getElementById("video").position().top){
      getElementById("video").src += "&autoplay=1";
    }
  })
</script> -->
