nav {
  font-family: 'Bungee',cursive;
  background-color: #af0b00;
  padding: 0px 0px 0px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
}

.selected{
  background: red;
}

.nav-button{
  border: 2px solid gray;
  border-radius: 5px;
}

.navbar-header img {
  float: left;
}

.navbar-header h1 {
  float: right;
  position: relative;
  top: 0px;
  left: 10px;
  font-size: 40px;
  color: white;
   text-shadow:
   -1px -1px 0 #000,
   1px -1px 0 #000,
   -1px 1px 0 #000,
   1px 1px 0 #000;
}

footer{
  background-color: #af0b00;
  font-family: 'Bungee',cursive;
}

.mt125{
  margin-top: 125px;
}

@media only screen and (max-device-width : 480px) and (min-device-width : 320px){
  .mobileOnly{
    display: inline !important;
  }
  .navbar-header h1 {
    font-size: 30px;
    left: 0px;
  }
  .notMobile{
    display: none !important;
  }
}

@media only screen and (max-device-width : 1800px) and (min-device-width : 480px){
  .mobileOnly{
    display: none !important;
  }
}

.fa-1x {
    font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}
.dark-blue-text {
    color: #0A38F5;
}
.dark-pink-text {
    color: #AC003A;
}
.dark-amber-text {
    color: #ff6f00;
}
.dark-teal-text {
    color: #004d40;
}
