<link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="assets/images/bnhlogo.png" style="height: 70px">
      </a>
      <h1>U.A. Hero Academy</h1>
    </div>
  </div>
</nav>
<div class="main" style="margin-top: 200px">
  <app-about></app-about>
  <app-show></app-show>
</div>
