<h1 style="text-align:center;" class="jumbotron">See our distinguished students in action!</h1>
<div class="container" style="text-align:center;">
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <img [src]="images[0]" alt="Midoriya" style="width: 80%;">
      <div class="carousel-caption">
        <h3>Izuku Midoriya</h3>
        <p>Fending off the blood-thirsty villian Muscular</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img [src]="images[1]" alt="Bakugo" style="width: 80%;">
      <div class="carousel-caption">
        <h3>Katsuki Bakugo</h3>
        <p>Blasts off to escape from villians</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img [src]="images[2]"  alt="Todoroki" style="width: 80%;">
      <div class="carousel-caption">
        <h3>Shoto Todoroki</h3>
        <p>Saving fellow students and a pro hero from Hero Killer Stain</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img [src]="images[3]" alt="Iida" style="width: 80%;">
      <div class="carousel-caption">
        <h3>Iida Tenya</h3>
        <p>Using his signature Recipro Kick on Hero Killer Stain</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4" style="background: white;"><img src="../assets/images/Deku.png" alt="Midoriya" style="width:100%"></div>
    <div class="col-md-4" style="background: white;"><img src="../assets/images/students/bakugo_fighting.jpg" alt="Bakugo" style="width:100%"></div>
    <div class="col-md-4" style="background: white;"><img src="../assets/images/students/todoroki_rescue.png" alt="Todoroki" style="width:100%"></div>
  </div>
  <div class="row">
    <div class="col-md-4" style="background: white;">
      <h4>Midoriya</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur accumsan rhoncus turpis ac vestibulum. Quisque pulvinar pellentesque egestas. Donec varius nisl in malesuada mollis. Etiam laoreet facilisis sem, at ultricies nunc bibendum sed. Mauris at ex rutrum, elementum metus vel, iaculis felis. Phasellus sodales venenatis erat. Suspendisse porta, nibh at tempor semper, neque purus gravida tortor, in ornare massa urna nec purus. Maecenas facilisis lacus lacinia erat sagittis, sed dignissim turpis tristique. Nulla sit amet molestie nisi, mattis facilisis turpis.</p>
    </div>
    <div class="col-md-4" style="background: white;">
      <h4>Bakugo</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur accumsan rhoncus turpis ac vestibulum. Quisque pulvinar pellentesque egestas. Donec varius nisl in malesuada mollis. Etiam laoreet facilisis sem, at ultricies nunc bibendum sed. Mauris at ex rutrum, elementum metus vel, iaculis felis. Phasellus sodales venenatis erat. Suspendisse porta, nibh at tempor semper, neque purus gravida tortor, in ornare massa urna nec purus. Maecenas facilisis lacus lacinia erat sagittis, sed dignissim turpis tristique. Nulla sit amet molestie nisi, mattis facilisis turpis.</p>
    </div>
    <div class="col-md-4" style="background: white;">
      <h4>Todoroki</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur accumsan rhoncus turpis ac vestibulum. Quisque pulvinar pellentesque egestas. Donec varius nisl in malesuada mollis. Etiam laoreet facilisis sem, at ultricies nunc bibendum sed. Mauris at ex rutrum, elementum metus vel, iaculis felis. Phasellus sodales venenatis erat. Suspendisse porta, nibh at tempor semper, neque purus gravida tortor, in ornare massa urna nec purus. Maecenas facilisis lacus lacinia erat sagittis, sed dignissim turpis tristique. Nulla sit amet molestie nisi, mattis facilisis turpis.</p>
    </div>
  </div>
</div>
