<h1 class="jumbotron">Meet the Staff</h1>
<div class="container">
  <div class="row">

    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assets/images/portraits/AllMight_Portrait.png" alt="All Might">
        <div class="card-body">
          <h5 class="card-title">All Might</h5>
          <p class="card-text">The pillar of hope and #1 Pro hero. Heroics teacher.</p>
          <!-- <a href="#" class="btn btn-primary">More About All Might</a> -->
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assets/images/portraits/Nezu_Portrait.png" alt="Nezu">
        <div class="card-body">
          <h5 class="card-title">Nezu</h5>
          <p class="card-text">Principle of the prestigous school U.A. High School.</p>
          <!-- <a href="#" class="btn btn-primary">More About All Might</a> -->
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assets/images/portraits/EraserHead_Portrait.png" alt="Eraser Head">
        <div class="card-body">
          <h5 class="card-title">Eraser Head</h5>
          <p class="card-text">The Pro Hero and homeroom teacher of U.A's Class A.</p>
          <!-- <a href="#" class="btn btn-primary">More About All Might</a> -->
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assets/images/portraits/VladKing_Portrait.png" alt="Vlad King">
        <div class="card-body">
          <h5 class="card-title">Vlad King</h5>
          <p class="card-text">Pro Hero and the homeroom teacher of U.A's Class B.</p>
          <!-- <a href="#" class="btn btn-primary">More About All Might</a> -->
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assets/images/portraits/RecoveryGirl_Portrait.png" alt="Recovery Girl">
        <div class="card-body">
          <h5 class="card-title">Recovery Girl</h5>
          <p class="card-text">The school nurse of U.A. High School.</p>
          <!-- <a href="#" class="btn btn-primary">More About All Might</a> -->
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assets/images/portraits/PresentMic_Portrait.png" alt="Present Mic">
        <div class="card-body">
          <h5 class="card-title">Present Mic</h5>
          <p class="card-text">U.A's English Teacher who is also a Pro Hero.</p>
          <!-- <a href="#" class="btn btn-primary">More About All Might</a> -->
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assets/images/portraits/Ectoplasm_Portrait.png" alt="Ectoplasm">
        <div class="card-body">
          <h5 class="card-title">Ectoplasm</h5>
          <p class="card-text">Pro Hero, experienced combatant and U.A. High's mathematics teacher.</p>
          <!-- <a href="#" class="btn btn-primary">More About All Might</a> -->
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assets/images/portraits/Midnight_Portrait.png" alt="Midnight">
        <div class="card-body">
          <h5 class="card-title">Midnight</h5>
          <p class="card-text">U.A. High's Modern Hero Art History teacher and Chief Referee of U.A. Sports Festival</p>
          <!-- <a href="#" class="btn btn-primary">More About All Might</a> -->
        </div>
      </div>
    </div>

  </div>
</div>
