
  <div class="jumbotron jumbotron bg-cover">
    <div class="overlay"></div>
    <div class="container">
      <h1 class="display-3 mb-1">Welcome to U.A. High</h1>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="whiteCard">
        <h3>Why U.A. High</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus porta eros in tempus. Duis iaculis pulvinar urna, eu elementum quam sollicitudin ac. Donec a nisi vitae nisi mollis sollicitudin a et risus. Morbi ullamcorper mattis ipsum, nec scelerisque orci interdum sit amet. Vestibulum in dui vel turpis sollicitudin vulputate. Proin placerat iaculis nibh, vitae suscipit magna eleifend a. Nunc consequat est ac nunc mollis, et feugiat risus molestie. Cras dapibus ultricies nunc, eu ultricies mauris sodales id. Curabitur semper in sem id mollis. Aliquam sodales pretium gravida. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec at odio ac lorem efficitur scelerisque. </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="whiteCard">
        <h3>Announcements</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus porta eros in tempus. Duis iaculis pulvinar urna, eu elementum quam sollicitudin ac. Donec a nisi vitae nisi mollis sollicitudin a et risus. Morbi ullamcorper mattis ipsum, nec scelerisque orci interdum sit amet. Vestibulum in dui vel turpis sollicitudin vulputate. Proin placerat iaculis nibh, vitae suscipit magna eleifend a. Nunc consequat est ac nunc mollis, et feugiat risus molestie. Cras dapibus ultricies nunc, eu ultricies mauris sodales id. Curabitur semper in sem id mollis. Aliquam sodales pretium gravida. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec at odio ac lorem efficitur scelerisque. </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="whiteCard">
        <h3>News</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus porta eros in tempus. Duis iaculis pulvinar urna, eu elementum quam sollicitudin ac. Donec a nisi vitae nisi mollis sollicitudin a et risus. Morbi ullamcorper mattis ipsum, nec scelerisque orci interdum sit amet. Vestibulum in dui vel turpis sollicitudin vulputate. Proin placerat iaculis nibh, vitae suscipit magna eleifend a. Nunc consequat est ac nunc mollis, et feugiat risus molestie. Cras dapibus ultricies nunc, eu ultricies mauris sodales id. Curabitur semper in sem id mollis. Aliquam sodales pretium gravida. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec at odio ac lorem efficitur scelerisque. </p>
      </div>
    </div>
  </div>
</div>
