
  <div class="jumbotron jumbotron bg-cover">
    <div class="overlay"></div>
    <div class="container">
      <h1 class="display-3 mb-1">Welcome to U.A. High</h1>
    </div>
  </div>

  <carousel [noWrap]="true" [interval]="8000">
    <slide>
      <img src="../assets/images/uastudents.png" alt="first slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block" >
        <h3 style="background-color: transparent;">UA Students</h3>
        <p style="background-color: transparent;">train to be a top hero</p>
      </div>
    </slide>
    <slide>
      <img src="../assets/images/uateachers.png" alt="second slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3 style="background-color: transparent;">UA Teachers</h3>
        <p style="background-color: transparent;">experienced, high-ranking, veteran heroes</p>
      </div>
    </slide>
    <slide>
      <img src="../assets/images/uaHighBuilding2.jpg" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block" style="height: 100%; padding-top: 25%;">
        <button class="btn btn-primary btn-lg"><h1>Apply Today!</h1></button>
      </div>
    </slide>
  </carousel>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="whiteCard">
        <h3>Why U.A. High</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus porta eros in tempus. Duis iaculis pulvinar urna, eu elementum quam sollicitudin ac. Donec a nisi vitae nisi mollis sollicitudin a et risus. Morbi ullamcorper mattis ipsum, nec scelerisque orci interdum sit amet. Vestibulum in dui vel turpis sollicitudin vulputate. Proin placerat iaculis nibh, vitae suscipit magna eleifend a. Nunc consequat est ac nunc mollis, et feugiat risus molestie. Cras dapibus ultricies nunc, eu ultricies mauris sodales id. Curabitur semper in sem id mollis. Aliquam sodales pretium gravida. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec at odio ac lorem efficitur scelerisque. </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="whiteCard">
        <h3>Announcements</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus porta eros in tempus. Duis iaculis pulvinar urna, eu elementum quam sollicitudin ac. Donec a nisi vitae nisi mollis sollicitudin a et risus. Morbi ullamcorper mattis ipsum, nec scelerisque orci interdum sit amet. Vestibulum in dui vel turpis sollicitudin vulputate. Proin placerat iaculis nibh, vitae suscipit magna eleifend a. Nunc consequat est ac nunc mollis, et feugiat risus molestie. Cras dapibus ultricies nunc, eu ultricies mauris sodales id. Curabitur semper in sem id mollis. Aliquam sodales pretium gravida. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec at odio ac lorem efficitur scelerisque. </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="whiteCard">
        <h3>News</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus porta eros in tempus. Duis iaculis pulvinar urna, eu elementum quam sollicitudin ac. Donec a nisi vitae nisi mollis sollicitudin a et risus. Morbi ullamcorper mattis ipsum, nec scelerisque orci interdum sit amet. Vestibulum in dui vel turpis sollicitudin vulputate. Proin placerat iaculis nibh, vitae suscipit magna eleifend a. Nunc consequat est ac nunc mollis, et feugiat risus molestie. Cras dapibus ultricies nunc, eu ultricies mauris sodales id. Curabitur semper in sem id mollis. Aliquam sodales pretium gravida. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec at odio ac lorem efficitur scelerisque. </p>
      </div>
    </div>
  </div>
</div>

<div class="container whiteCard" style="margin: auto; margin-top: 10px;">
<button class="btn btn-link" (click)="toggleHistory()"><h3>School History</h3></button>
  <p [hidden]="!showHistory">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut urna purus. Vestibulum id odio sit amet nisi suscipit ullamcorper eu at lectus. Fusce sed mollis mi. Nam eget viverra est. Nam fermentum, mi a semper venenatis, metus ante imperdiet nulla, a blandit ipsum risus non eros. Fusce nec mauris eu turpis congue elementum. Ut tempus mi quis nibh hendrerit pulvinar. Ut facilisis suscipit risus, bibendum dapibus orci posuere et. Suspendisse scelerisque tellus vel odio porttitor venenatis. Proin nulla tortor, placerat non nisl in, eleifend bibendum lacus.
  </p>
</div>
